/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~@fortawesome/fontawesome-free/css/all.css';

@-webkit-keyframes SHOW-BOX {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes SHOW-BOX {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes SHOW-BOX {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes SHOW-BOX {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.showBox {
  -webkit-animation: SHOW-BOX 0.7s ease;
  -moz-animation: SHOW-BOX 0.7s ease;
  -o-animation: SHOW-BOX 0.7s ease;
  animation: SHOW-BOX 0.7s ease;
}
